@model IEnumerable<UserTrabajador>
@{
    ViewData["Title"] = "Informacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="https://kit.fontawesome.com/16bd784e77.js" crossorigin="anonymous"></script>*@
<link rel="stylesheet" href="~/css/FondoNuevo.css" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<h1 class=" animate__animated animate__lightSpeedInRight">Worker´s List</h1>


<table id="mitabla" class="table table-dark table-dark">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Id)</th>
            <th>@Html.DisplayNameFor(x => x.Name)</th>
            <th>@Html.DisplayNameFor(x => x.LastName)</th>
            <th>@Html.DisplayNameFor(x => x.Age)</th>
            <th>@Html.DisplayNameFor(x => x.Email)</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var worker in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => worker.Id)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => worker.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => worker.LastName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => worker.Age)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => worker.Email)
                </th>


                <td>
                    <a class="btn btn-outline-primary" asp-action="DescripcionVist"><i class="fas fa-edit"></i>Ver Description</a>

                </td>
            </tr>
        }

    </tbody>

</table>

<a class="btn btn-outline-secondary" asp-controller="Home" asp-action="MenuTrabajador">Back</a>
